## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [3]:
# 1) Seu código aqui

pc_mat = (df_mat['Qt_acertos'].sum() / 24)
print("O percentual de acerto em Matemática foi de: {:.2f}%" .format(pc_mat))
pc_por = (df_por['Qt_acertos'].sum() / 18)
print("O percentual de acerto em Português foi de: {:.2f}%" .format(pc_por))
pc_geo = (df_geo['Qt_acertos'].sum() /  8)
print("O percentual de acerto em Geografia foi de: {:.2f}%" .format(pc_geo))
pc_ing = (df_ing['Qt_acertos'].sum() /  8)
print("O percentual de acerto em Inglês foi de: {:.2f}%" .format(pc_ing))
pc_his = (df_his['Qt_acertos'].sum() /  8)
print("O percentual de acerto em História foi de: {:.2f}%" .format(pc_his))
pc_fis = (df_fis['Qt_acertos'].sum() /  12)
print("O percentual de acerto em Física foi de: {:.2f}%" .format(pc_fis))
pc_qui = (df_qui['Qt_acertos'].sum() /  12)
print("O percentual de acerto em Quimica foi de: {:.2f}%" .format(pc_qui))

O percentual de acerto em Matemática foi de: 49.38%
O percentual de acerto em Português foi de: 40.17%
O percentual de acerto em Geografia foi de: 42.00%
O percentual de acerto em Inglês foi de: 47.62%
O percentual de acerto em História foi de: 45.00%
O percentual de acerto em Física foi de: 44.33%
O percentual de acerto em Quimica foi de: 45.25%

In [4]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

df = pd.DataFrame()
df['Matemática'] = df_mat['Qt_acertos']
df['Português'] = df_por['Qt_acertos']
df['Geografia'] = df_geo['Qt_acertos']
df['Inglês'] = df_ing['Qt_acertos']
df['História'] = df_his['Qt_acertos']
df['Física'] = df_fis['Qt_acertos']
df['Química'] = df_qui['Qt_acertos']
df['Acertos Totais'] = (
                        df['Matemática'] + 
                        df['Português'] +
                        df['Geografia'] +
                        df['Inglês'] +
                        df['História'] +
                        df['Física'] +
                        df['Química']
                       )
df.head()

,Matemática,Português,Geografia,Inglês,História,Física,Química,Acertos Totais
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30

In [5]:
# 3) Seu código aqui
Qt_acertos_total = 24 + 18 + 8 + 8 + 8 + 12 + 12

df['% Geral'] = (df['Acertos Totais'] / 90) * 100
df.head()

,Matemática,Português,Geografia,Inglês,História,Física,Química,Acertos Totais,% Geral
0,6,7,7,3,1,8,3,35,38.888889
1,19,10,0,0,0,11,8,48,53.333333
2,14,16,0,5,7,4,4,50,55.555556
3,10,7,3,4,0,0,8,32,35.555556
4,7,2,2,7,0,9,3,30,33.333333

In [6]:
# 4) Seu código aqui

df[df['Acertos Totais'] > 45].index.nunique()

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [7]:
df.head(1)

,Matemática,Português,Geografia,Inglês,História,Física,Química,Acertos Totais,% Geral
0,6,7,7,3,1,8,3,35,38.888889

In [8]:
# seu código aqui

# 1) Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. 
#Monte um novo DataFrame com os alunos desqualificados por este critério.

df_eliminados = df [
    (df['Matemática'] == 0) | 
    (df['Física'] == 0) | 
    (df['Química'] == 0)
    ]

df_eliminados.head()

,Matemática,Português,Geografia,Inglês,História,Física,Química,Acertos Totais,% Geral
3,10,7,3,4,0,0,8,32,35.555556
6,6,0,7,7,5,0,4,29,32.222222
10,10,8,3,2,1,7,0,31,34.444444
12,20,8,3,7,1,0,3,42,46.666667
14,7,11,1,7,1,4,0,31,34.444444

In [9]:
# 2) Quantos são esses alunos?
df_eliminados.index.nunique()

23

In [10]:
# 3) Qual a média desses alunos em história e geografia?

print(df_eliminados['História'].mean())
print(df_eliminados['Geografia'].mean())

3.4347826086956523
3.217391304347826

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [20]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-51a8e35a-1d9b-4a4a-857a-8c3c656044d8.c000.csv'

In [42]:
# 1) Sua solução aqui
vacAcre = pd.read_csv(arquivo, sep=';')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [24]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,0173e6bc-afe5-46dc-819c-d767535bcf74-i0b0,ce9953b9671e5fab007af813656dcb758e990223badf6d...,10.0,2011-08-23,F,3.0,PARDA,120060.0,10.0,TARAUACA,...,NaN,NaN,FN4073,PFIZER - PEDIÁTRICA,28290,2022-08-04,2ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
1,7463d209-6f03-4722-9e00-5f9d5244875f-i0b0,79b1b50929dff150b2de69c3ceefb3a062a02c453d0e71...,21.0,2000-01-17,F,3.0,PARDA,120038.0,10.0,PLACIDO DE CASTRO,...,2.0,Faixa Etária,214VCD053W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-02,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
2,47a378ad-711c-4130-84ab-ea1680abd50c-i0b0,df85e3667f8dffab53a8d07e8fe66491e6cae5b63ad732...,82.0,1938-05-01,M,4.0,AMARELA,120034.0,10.0,MANOEL URBANO,...,2.0,Faixa Etária,4120Z004,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-02-01,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
3,74df118a-6824-4065-9bd7-8befabc7bc42-i0b0,dfa5683989daae7c09fb146fea92a6517ad5d783228745...,50.0,1970-12-25,M,4.0,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,216VCD213W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-09,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
4,542683c5-8ad3-4915-b131-22d1670bea0a-i0b0,d7ddec80ba6c202ca40c3b76bbaf7948c4001c3d39dd56...,14.0,2007-03-04,F,3.0,PARDA,120005.0,10.0,ASSIS BRASIL,...,114.0,Outros,FJ4187,PFIZER,Organization/28290,2022-02-17,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [43]:
vacAcre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556118 entries, 0 to 556117
Data columns (total 32 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               556118 non-null  object
 1   paciente_id                               556117 non-null  object
 2   paciente_idade                            556117 non-null  float64
 3   paciente_dataNascimento                   556117 non-null  object
 4   paciente_enumSexoBiologico                556117 non-null  object
 5   paciente_racaCor_codigo                   556117 non-null  float64
 6   paciente_racaCor_valor                    556117 non-null  object
 7   paciente_endereco_coIbgeMunicipio         552730 non-null  object
 8   paciente_endereco_coPais                  552737 non-null  object
 9   paciente_endereco_nmMunicipio             552736 non-null  object
 10  paciente_endereco_nmPais                  552737 non-null  object
 11  paciente_endereco_uf                      552730 non-null  object
 12  paciente_endereco_cep                     498357 non-null  object
 13  paciente_nacionalidade_enumNacionalidade  555921 non-null  object
 14  estabelecimento_valor                     556118 non-null  int64
 15  estabelecimento_razaoSocial               556118 non-null  object
 16  estalecimento_noFantasia                  556118 non-null  object
 17  estabelecimento_municipio_codigo          556118 non-null  int64
 18  estabelecimento_municipio_nome            556118 non-null  object
 19  estabelecimento_uf                        556118 non-null  object
 20  vacina_grupoAtendimento_codigo            556096 non-null  float64
 21  vacina_grupoAtendimento_nome              555041 non-null  object
 22  vacina_categoria_codigo                   523891 non-null  float64
 23  vacina_categoria_nome                     523891 non-null  object
 24  vacina_lote                               556118 non-null  object
 25  vacina_fabricante_nome                    556118 non-null  object
 26  vacina_fabricante_referencia              552890 non-null  object
 27  vacina_dataAplicacao                      556118 non-null  object
 28  vacina_descricao_dose                     556118 non-null  object
 29  vacina_codigo                             556118 non-null  int64
 30  vacina_nome                               556104 non-null  object
 31  sistema_origem                            555557 non-null  object
dtypes: float64(4), int64(3), object(25)
memory usage: 135.8+ MB

In [44]:
vacAcre.shape[0]

556118

In [45]:
# 2) 
vacAcre['paciente_id'].nunique()

419584

In [46]:
# 3) 
primeira_dose = vacAcre['vacina_descricao_dose'].unique()[0]
vacAcre['paciente_id'].loc[vacAcre['vacina_descricao_dose'] == primeira_dose].nunique()

191007

In [47]:
# 3) solução alternativa
primeira_dose = vacAcre['vacina_descricao_dose'].unique()[0]
df_primeira_dose = vacAcre[vacAcre['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

191007

In [48]:
# 4) 
df_menor = vacAcre[vacAcre["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

79391

In [41]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

50

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [50]:
# 1) 
vacAcre_menor = vacAcre[vacAcre["paciente_idade"]<18].copy()

In [51]:
# 2) 
vacAcre_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [52]:
# 3)
vacAcre_menor['vacina_categoria_nome'].value_counts()

Faixa Etária                                      52126
Outros                                             6165
Povos Indígenas                                    2507
Povos e Comunidades Tradicionais                    607
Trabalhadores de Saúde                              395
População Privada de Liberdade                       69
Comorbidades                                         49
Gestantes                                            31
Pessoas com Deficiência                               3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: vacina_categoria_nome, dtype: int64

In [54]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
vacAcre_menor_lista = vacAcre_menor.loc[:,lista_variaveis]

In [56]:
# 5)
vacAcre_menor_lista = vacAcre_menor_lista.drop_duplicates()
vacAcre_menor_lista.shape

(113, 6)